In [1]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\hp\anaconda3\lib\site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine(
    "mssql+pyodbc://DESKTOP-DIFHLOM/RetailProject"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&trusted_connection=yes"
)

In [5]:
df = pd.read_sql("SELECT * FROM retail_sales", engine)
print(df.head(200))

    Order_ID Customer_ID   Product     Category  Quantity  Unit_Price Region  \
0    ORD1000     CUST140    Tablet  Electronics         1         200   WEST
1    ORD1001     CUST107    Laptop  Electronics         1         800  SOUTH
2    ORD1002     CUST101    Laptop  Electronics         2         710  NORTH
3    ORD1003     CUST147     Phone  Electronics         4         200  NORTH
4    ORD1004     CUST117     Phone  Electronics         4         710  NORTH
..       ...         ...       ...          ...       ...         ...    ...
195  ORD1195     CUST112    Laptop  Electronics         2        1200   WEST
196  ORD1196     CUST109  Keyboard  Accessories         3         200   WEST
197  ORD1197     CUST123    Laptop  Electronics         1         200   EAST
198  ORD1198     CUST148   Headset  Accessories         2         710   WEST
199  ORD1199     CUST110     Phone  Electronics         2         710  SOUTH

     Order_Date
0    2025-01-01
1    2025-10-02
2    2025-01-10
3    2025-10-02
4    2025-03-05
..          ...
195  2025-04-12
196  2025-03-05
197  2025-03-05
198  2025-10-02
199  2025-10-02

[200 rows x 8 columns]

In [6]:
df = df.drop_duplicates()

In [7]:
df["Region"] = df["Region"].str.strip().str.upper()

In [9]:
df["Quantity"].fillna(1, inplace=True)
df["Unit_Price"].fillna(df["Unit_Price"].median(), inplace=True)
print(df)

    Order_ID Customer_ID   Product     Category  Quantity  Unit_Price Region  \
0    ORD1000     CUST140    Tablet  Electronics         1         200   WEST
1    ORD1001     CUST107    Laptop  Electronics         1         800  SOUTH
2    ORD1002     CUST101    Laptop  Electronics         2         710  NORTH
3    ORD1003     CUST147     Phone  Electronics         4         200  NORTH
4    ORD1004     CUST117     Phone  Electronics         4         710  NORTH
..       ...         ...       ...          ...       ...         ...    ...
195  ORD1195     CUST112    Laptop  Electronics         2        1200   WEST
196  ORD1196     CUST109  Keyboard  Accessories         3         200   WEST
197  ORD1197     CUST123    Laptop  Electronics         1         200   EAST
198  ORD1198     CUST148   Headset  Accessories         2         710   WEST
199  ORD1199     CUST110     Phone  Electronics         2         710  SOUTH

     Order_Date
0    2025-01-01
1    2025-10-02
2    2025-01-10
3    2025-10-02
4    2025-03-05
..          ...
195  2025-04-12
196  2025-03-05
197  2025-03-05
198  2025-10-02
199  2025-10-02

[200 rows x 8 columns]

C:\Users\HP\AppData\Local\Temp\ipykernel_22752\2152144982.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Quantity"].fillna(1, inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_22752\2152144982.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Unit_Price"].fillna(df["Unit_Price"].median(), inplace=True)

In [10]:
df["Revenue"] = df["Quantity"] * df["Unit_Price"]
print(df)

    Order_ID Customer_ID   Product     Category  Quantity  Unit_Price Region  \
0    ORD1000     CUST140    Tablet  Electronics         1         200   WEST
1    ORD1001     CUST107    Laptop  Electronics         1         800  SOUTH
2    ORD1002     CUST101    Laptop  Electronics         2         710  NORTH
3    ORD1003     CUST147     Phone  Electronics         4         200  NORTH
4    ORD1004     CUST117     Phone  Electronics         4         710  NORTH
..       ...         ...       ...          ...       ...         ...    ...
195  ORD1195     CUST112    Laptop  Electronics         2        1200   WEST
196  ORD1196     CUST109  Keyboard  Accessories         3         200   WEST
197  ORD1197     CUST123    Laptop  Electronics         1         200   EAST
198  ORD1198     CUST148   Headset  Accessories         2         710   WEST
199  ORD1199     CUST110     Phone  Electronics         2         710  SOUTH

     Order_Date  Revenue
0    2025-01-01      200
1    2025-10-02      800
2    2025-01-10     1420
3    2025-10-02      800
4    2025-03-05     2840
..          ...      ...
195  2025-04-12     2400
196  2025-03-05      600
197  2025-03-05      200
198  2025-10-02     1420
199  2025-10-02     1420

[200 rows x 9 columns]

In [11]:
df.to_excel("retailproject.xlsx", index=False)